:root {
   --premare-color: #F5F5F5FF;
   --bg-color: #fff;
   --text-color:  #22343D;
   --font-family: 'Poppins', sans-serif;
}
.dark {
   --premare-color: #1F2E35FF;
   --bg-color: #1F2E35FF;
   --text-color:  #fff;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
   background-color:var(--bg-color);
   color:var(--text-color)
   font-family:var(--font-family);
   transition: all .5s ease;
}




h1, h2, h3, h4 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   color: #22343D;
}
ul li {
   list-style: none;
}
a {
   text-decoration: none;
   color: #22343D;
}
.navbar ul li a.active {
   color: tomato;
   border-bottom: 2px solid tomato;
}


/* RESOURCES.HTML */

/* header */
#header {
   padding: 20px 40px 0 0;
}
.navbar-list-logo {
   column-gap: 10px;
}
.navbar-list {
   column-gap: 28px;
}
.flex {
   display: flex;
   align-items: center;
}
.navbar ul li a {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 28px;
   color:var(--text-color);
   transition: all .4s ease;
}
.navbar ul li a:hover {
   color: tomato;
}
.navbar ul li button.click-button {
   background-color: none;
   outline: none;
   padding: 0;
   border: none;
}
.navbar ul li button {
   outline: none;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color:var(--text-color);
   padding: 2px 22px;
   border: 1px solid #BCD0E5;
   border-radius: 4px;
   
}
.navbar ul li button.color {
   background: #02897A;
   color: #fff;
}
.icon-menu i {
   display: none;
}


   /* SITE-HERO */
#resources-hero {
   padding: 100px 0;
}
#resources-hero .site-hero-content h1 {
   font-weight: 600;
   font-size: 40px;
   line-height: 149%;
   color:var(--text-color);
   margin-bottom: 24px;
}
#resources-hero .site-hero-content p {
   font-weight: 400;
   font-size: 20px;
   line-height: 160%;
   color:var(--text-color);
   margin-bottom: 24px;
}
#resources-hero .site-hero-content  input {
   width: 470px;
   height: 60px;
   outline: none;
   border: 1px solid var(--text-color);
   border-radius: 100px;
   margin-bottom: 24px;
}
#resources-hero .site-hero-content  input[type=text] {
   font-weight: 400;
   font-size: 16px;
   color:var(--text-color);
}
#resources-hero .site-hero-content img.img-info {
   width: 550px;
   height: 485px;
}



   /* LATES-STORIES */
#lates-stories {
   padding: 20px 0;
}
#lates-stories .row div > img {
   margin-bottom: 25px;
}
#lates-stories h2 {
   font-weight: 700;
   font-size: 34px;
   line-height: 51px;
   color:var(--text-color);
}
#lates-stories p {
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
   margin-bottom: 32px;
}
#lates-stories h4 {
   margin-top: 32px;
   font-weight: 500;
   font-size: 18px;
   line-height: 26px;
   color:var(--text-color);
}


   /* CONTACT */
#contact {
   padding: 150px 0 100px 0;
}
#contact h2 {
   font-weight: 700;
   font-size: 34px;
   line-height: 57px;
   color:var(--text-color);
}
#contact p {
   font-weight: 500;
   font-size: 18px;
   line-height: 28px;
   color:var(--text-color);
   margin-bottom: 40px;
}
#contact a i {
   margin: 0 8px;
   width: 50px;
   height: 50px;
   font-size: 25px;
   line-height: 50px;
   border-radius: 50%;
   background: #EDFFFC;
   color: #02897A;
   margin-bottom: 65px;
}



   /* START FORM */
#form {
   width: 870px;
   height: 660px;
   margin: 0 auto;
   padding: 50px 0 0 0;
   background: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 20px;
}
#form h2 {
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color:var(--text-color);
   margin-bottom: 45px;

}

#form form input {
    width: 768px;
    height: 54px;
   outline: none;
    background: #F5F5F5;
   border: 1px solid #E8E8E8;
   border-radius: 39px;
   margin-bottom: 45px;
}
#form form input[type=text] {
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   color: #22343D;
}
#form form input[type=email] {
   font-weight: 400;
   font-size: 15px;
   line-height: 16px;
   color: #22343D;
}
::placeholder {
   color: #22343D;
   padding: 20px;
}
#form form textarea {
   resize: none;
   outline: none;
   background: #F5F5F5;
   border: 1px solid #E8E8E8;
   margin-bottom: 35px;
}
#form form button {
   text-align: start !important;
   padding: 8px 45px;
   background: #02897A;
   border: none;
   border-radius: 35px;
   color: #fff;
}


      /* START FOOTER */
#footer {
   padding: 180px 0 20px 0;
}

#footer .logo-link img {
   margin-bottom: 35px;
}
#footer .logo-link img.right {
   margin-right: 20px;
}
#footer .footer-link {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   column-gap: 16px;
}

#footer .footer-link .footer-item i {
   width: 40px;
   height: 40px;
   font-size: 23px;
   text-align: center;
   line-height: 40px;
   background: #EDFFFC;
   color: #02897A;
   border-radius: 50%;
}

#footer .site-info h4 {
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   color:var(--text-color);
}

#footer ul li {
   margin-bottom: 12px;
   color:var(--text-color);
}


#footer .last-content h3 {
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   color:var(--text-color);
}

#footer .last-content textarea {
   resize: none;
   outline: none;
   margin-bottom: 10px;
}
#footer .last-content button.footer-button {
   padding: 5px 20px;
   background: #02897A;
   border-radius: 4px;
   border: none;
   color: #fff;
}

#footer .footer-title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color:var(--text-color);
}
   /* THE END FOOTER */






   /* MEDIA-1200px */
@media only screen and (max-width: 1200px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 30px 0 10px;
   }


   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
   }
   #lates-stories .row div > img {
      width: 290px;
      height: auto;
   }


}

   /* MEDIA-1100px */
@media only screen and (max-width: 1100px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 30px 0 10px;
   }


   #resources-hero .site-hero-content img.img-info {
      width: 510px;
      height: 500px;
   }

   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
   }
   #lates-stories .row div > img {
      width: 290px;
      height: auto;
   }


}








   /* MEDIA-992px */
@media only screen and (max-width: 992px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 45px 0 20px;
   }
   .navbar-list.active {
      width: 30%;
      top: 55px;
      right: 0;
      height: 45vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 0;
      height: 0;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
   }

   /* SITE-HERO */
   #resources-hero {
      padding: 30px 0 80px 0;
      text-align: center;
   }
   #resources-hero .site-hero-content {
      margin-bottom: 25px;
   }
   #resources-hero .site-hero-content img.img-info {
      width: 650px;
      height: 600px;
   }

   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
      text-align: center;
   }
   #lates-stories .row div > img {
      width: 330px;
      height: auto;
      margin-bottom: 25px;
   }

   /* CONTACT */
   #contact .row div > img {
      width: 720px;
      height: auto;
   }

    /* START FORM */
   #form {
      width: 720px;
      height: 660px;
      margin: 0 auto;
      padding: 50px 0 0 0;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
   }
   #form form input {
      width: 618px;
      height: 54px;
      outline: none;
      background: #F5F5F5;
      border: 1px solid #E8E8E8;
      border-radius: 39px;
      margin-bottom: 45px;
   }
   #form form textarea {
      width: 618px;
      height: auto;
   }

   /* FOOTER */
   #footer .footer-link {
      margin-left: 60px;
   }

}


      /* MEDIA-800px */
@media only screen and (max-width: 800px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 45px 0 20px;
   }
   .navbar-list.active {
      width: 35%;
      top: 55px;
      right: 0;
      height: 45vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 0;
      height: 0;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
   }

   #resources-hero {
      text-align: center;
   }
   #resources-hero .site-hero-content {
      margin-bottom: 30px;
   }
   #resources-hero .site-hero-content img.img-info {
      width: 580px;
      height: 550px;
   }

    /* LATES-STORIES */
   #lates-stories {
      padding: 0;
      text-align: center;
   }
   #lates-stories .row div > img {
      width: 330px;
      height: auto;
      margin-bottom: 25px;
   }

      /* CONTACT */
   #contact {
      padding: 80px 0;
      text-align: center;
   }
   #contact .row div > img {
      width: 620px;
      height: auto;
   }

    /* START FORM */
   #form {
      width: 620px;
      height: 630px;
      margin: 0 auto;
      padding: 50px 0 0 0;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
   }
   #form form input {
      width: 520px;
      height: 54px;
      outline: none;
      background: #F5F5F5;
      border: 1px solid #E8E8E8;
      border-radius: 39px;
      margin-bottom: 45px;
   }
   #form form textarea {
      width: 520px;
      height: auto;
   }

   /* FOOTER */
   #footer .footer-link {
      margin-left: 55px;
   }
}


       /* MEDIA-768px */
@media only screen and (max-width: 768px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 45px 0 20px;
   }
   .navbar-list.active {
      width: 40%;
      top: 55px;
      right: 0;
      height: 45vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 0;
      height: 0;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
   }

   #resources-hero {
      text-align: center;
   }
   #resources-hero .site-hero-content {
      margin-bottom: 30px;
   }
   #resources-hero .site-hero-content img.img-info {
      width: 550px;
      height: 500px;
   }

   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
      text-align: center;
   }
   #lates-stories .row div > img {
      width: 250px;
      height: auto;
      margin-bottom: 25px;
   }


      /* CONTACT */
   #contact {
      padding: 80px 0;
      text-align: center;
   }
   #contact .row div > img {
      width: 535px;
      height: auto;
   }

    /* START FORM */
   #form {
      width: 550px;
      height: 630px;
      margin: 0 auto;
      padding: 50px 0 0 0;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
   }
   #form form input {
      width: 450px;
      height: 54px;
      outline: none;
      background: #F5F5F5;
      border: 1px solid #E8E8E8;
      border-radius: 39px;
      margin-bottom: 45px;
   }
   #form form textarea {
      width: 450px;
      height: auto;
   }

   /* FOOTER */
   #footer .footer-link {
      margin-left: 0px;
   }
}



      /* MEDIA-576px */
@media only screen and (max-width: 576px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 0;
   }
   .navbar-list.active {
      width: 40%;
      top: 55px;
      right: 0;
      height: 45vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 0;
      height: 0;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
   }

   #resources-hero {
      text-align: center;
   }
   #resources-hero .site-hero-content {
      margin-bottom: 30px;
   }
   #resources-hero .site-hero-content img.img-info {
      width: 500px;
      height: 500px;
   }

   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
      text-align: center;
   }
   #lates-stories .row div > img {
      width: 380px;
      height: auto;
      margin-bottom: 30px;
   }


      /* CONTACT */
   #contact {
      padding: 80px 0;
      text-align: center;
   }
   #contact .row div > img {
      width: 450px;
      height: auto;
   }

    /* START FORM */
   #form {
      width: 460px;
      height: 580px;
      margin: 0 auto;
      padding: 50px 0 0 0;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
   }
   #form form input {
      width: 370px;
      height: 45px;
      outline: none;
      background: #F5F5F5;
      border: 1px solid #E8E8E8;
      border-radius: 39px;
      margin-bottom: 45px;
   }
   #form form textarea {
      width: 370px;
      height: 150px;
   }

   /* FOOTER */
   #footer .footer-link {
      margin-left: 160px;
   }

   #footer .last-content textarea {
      margin-bottom: 20px;
   }
   #footer .last-content button {
      margin-bottom: 25px;
   }

}




      /* MEDIA-501px */
@media only screen and (max-width: 501px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 0;
   }
   .navbar-list.active {
      width: 45%;
      top: 55px;
      right: 0;
      height: 45vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 0;
      height: 0;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
   }

   #resources-hero {
      text-align: center;
   }
   #resources-hero .site-hero-content  input {
   width: 400px;
   height: 50px;
   }
   #resources-hero .site-hero-content {
      margin-bottom: 30px;
   }
   #resources-hero .site-hero-content img.img-info {
      width: 420px;
      height: 400px;
   }

   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
      text-align: center;
   }
   #lates-stories .row div > img {
      width: 350px;
      height: auto;
      margin-bottom: 30px;
   }


      /* CONTACT */
   #contact {
      padding: 80px 0;
      text-align: center;
   }
   #contact .row div > img {
      width: 400px;
      height: auto;
   }

    /* START FORM */
   #form {
      width: 410px;
      height: 550px;
      margin: 0 auto;
      padding: 50px 0 0 0;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
   }
   #form form input {
      width: 310px;
      height: 40px;
      outline: none;
      background: #F5F5F5;
      border: 1px solid #E8E8E8;
      border-radius: 39px;
      margin-bottom: 45px;
   }
   #form form textarea {
      width: 310px;
      height: 140px;
   }

   /* FOOTER */
   #footer .footer-link {
      margin-left: 130px;
   }

   #footer .last-content textarea {
      margin-bottom: 20px;
   }
   #footer .last-content button {
      margin-bottom: 25px;
   }

}




      /* MEDIA-460px */
@media only screen and (max-width: 460px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 0;
   }
   .navbar-list.active {
      width: 45%;
      top: 55px;
      right: 0;
      height: 45vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 0;
      height: 0;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
   }

   #resources-hero {
      text-align: center;
   }
   #resources-hero .site-hero-content  input {
      width: 350px;
      height: 50px;
   }
   #resources-hero .site-hero-content {
      margin-bottom: 30px;
   }
   #resources-hero .site-hero-content img.img-info {
      width: 400px;
      height: 400px;
   }

   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
      text-align: center;
   }
   #lates-stories .row div > img {
      width: 320px;
      height: auto;
      margin-bottom: 30px;
   }


      /* CONTACT */
   #contact {
      padding: 80px 0;
      text-align: center;
   }
   #contact .row div > img {
      width: 380px;
      height: auto;
   }

    /* START FORM */
   #form {
      width: 380px;
      height: 550px;
      margin: 0 auto;
      padding: 50px 0 0 0;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 20px;
   }
   #form form input {
      width: 300px;
      height: 35px;
      outline: none;
      background: #F5F5F5;
      border: 1px solid #E8E8E8;
      border-radius: 39px;
      margin-bottom: 45px;
   }
   #form form textarea {
      width: 300px;
      height: 140px;
   }

   /* FOOTER */
   #footer .footer-link {
      margin-left: 110px;
   }

   #footer .last-content textarea {
      margin-bottom: 20px;
   }
   #footer .last-content button {
      margin-bottom: 25px;
   }

}



      /* MEDIA-411px */
@media only screen and (max-width: 413px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 35px 15px 0 0;
   }
   .navbar-list.active {
      width: 45%;
      top: 55px;
      right: 0;
      height: 52vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 0;
      height: 0;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
   }

   #resources-hero {
      text-align: center;
   }
   #resources-hero .site-hero-content  input {
      width: 380px;
      height: 60px;
   }
   #resources-hero .site-hero-content {
      margin-bottom: 30px;
   }
   #resources-hero .site-hero-content img.img-info {
      width: 400px;
      height: 400px;
   }

   /* LATES-STORIES */
   #lates-stories {
      padding: 0;
      text-align: center;
   }
   #lates-stories .row div > img {
      width: 350px;
      height: auto;
      margin-bottom: 30px;
   }


      /* CONTACT */
   #contact {
      padding: 80px 0;
      text-align: center;
   }
   #contact .row div > img {
      width: 350px;
      height: auto;
   }

    /* START FORM */
   #form {
      width: 320px;
      height: 550px;
      margin: 0 auto;
      padding: 50px 0 0 0;
      background: #FFFFFF;
      border: none;
      border-radius: 20px;
   }
   #form form input {
      width: 344px;
      height: 54px;
      outline: none;
      background: #F5F5F5;
      border: 1px solid #E8E8E8;
      border-radius: 39px;
      margin-bottom: 45px;
   }
   #form form textarea {
      width: 344px;
      height: 193px;
   }

   /* FOOTER */
   #footer .footer-link {
      margin-left: 80px;
   }

   #footer .last-content textarea {
      margin-bottom: 20px;
   }
   #footer .last-content button {
      margin-bottom: 25px;
   }

}
   /* THE-END RESOURCES.HTML */
