:root {
   --premare-color: #22343D;
   --bg-color: #F0F0F0FF;
   --text-color:  #22343D;
   --font-family: 'Poppins', sans-serif;
}
.dark {
   --premare-color: #fff;
   --bg-color: #1F2E35FF;
   --text-color:  #fff;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   /*overflow-x: hidden;*/
}

body {
   background-color:var(--bg-color);
   color:var(--text-color)
   font-family:var(--font-family);
   transition: all .5s ease;
}




h1, h2, h3, h4 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   color: #22343D;
}
ul li {
   list-style: none;
}
a {
   text-decoration: none;
   color: #22343D;
}
.navbar ul li a.activ {
   color: tomato;
   border-bottom: 2px solid tomato;
}




.flex {
   display: flex;
   align-items: center;
}

/* header */
#header {
   padding: 20px 0;
}
.navbar-list-logo {
   column-gap: 10px;
}
.navbar-list {
   column-gap: 28px;
}
.navbar ul li a {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 28px;
   color:var(--text-color);
   transition: all .4s ease;
}
.navbar ul li a:hover {
   color: tomato;
}
.navbar ul li button.click-button {
   background-color: none;
   outline: none;
   padding: 0;
   border: none;
}
.navbar ul li button {
   outline: none;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color:var(--text-color);
   padding: 2px 22px;
   border: 1px solid #BCD0E5;
   border-radius: 4px;
   
}
.navbar ul li button.color {
   background: #02897A;
   color: #fff;
}
.icon-menu i {
   display: none;
}


@media only screen and (max-width: 992px) {
   #header {
      padding: 0;
   }
   .navbar-list.flex {
      display: block;
      width: fit-content;
      opacity: 0;
   }
   .navbar-list.active {
      width: 40%;
      height: 85vh;
      opacity: 1;
   }
   .navbar .navbar-list .navbar-item {
      padding: 20px 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
   }
   .navbar-list {
      position: absolute;
      top: 60px;
      right: 0;
      height: 100vh;
      background: #ccc;
      transition: all .5s ease;
      overflow: hidden;
   }
   .icon-menu i {
   display: block;
   outline: none;
   font-size: 35px;
   color: #173A56FF;
}
}