:root {
   --premare-color: #22343D;
   --bg-color: #fff;
   --text-color:  #22343D;
   --font-family: 'Poppins', sans-serif;
}
.dark {
   --premare-color: #fff;
   --bg-color: #1F2E35FF;
   --text-color:  #fff;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
   background-color:var(--bg-color);
   color:var(--text-color)
   font-family:var(--font-family);
   transition: all .5s ease;
}




h1, h2, h3, h4 {
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   color: #22343D;
}
ul li {
   list-style: none;
}
a {
   text-decoration: none;
   color: #22343D;
}
.navbar ul li a.active {
   color: tomato;
   border-bottom: 2px solid tomato; 
}

.flex {
   display: flex;
   align-items: center;
}

.btn {
   border: none;
   padding: 15px 40px;
   background: #02897A;
   border-radius: 6px;
}

/* header */
#header {
   padding: 25px 30px 0 0;
}
.navbar-list-logo {
   column-gap: 10px;
}
.navbar-list {
   column-gap: 28px;
}
.navbar ul li a {
   z-index: 150;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 28px;
   color:var(--text-color);
   transition: all .4s ease;
}
.navbar ul li a:hover {
   color: tomato;
}
.navbar ul li button.click-button {
   background-color: none;
   outline: none;
   padding: 0;
   border: none;
}
.navbar ul li {
   z-index: 150;
}
.navbar ul li button {
   outline: none;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color:var(--text-color);
   padding: 2px 22px;
   border: 1px solid #BCD0E5;
   border-radius: 4px;
   
}
.navbar ul li button.color {
   background: #02897A;
   color: #fff;
}
.icon-menu i {
   display: none;
}



/* SITE-HERO */
#site-hero {
   z-index: -1;
   padding-top: 100px;
}
.hero-info h1 {
   width: 380px;
   margin-bottom: 15px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 60px;
   color:var(--text-color);
}
.hero-info p {
   width: 440px;
    margin-bottom: 40px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color:var(--text-color);
}
.hero-content {
   display: flex;
   align-items: center;
}
.hero-content i {
   font-size: 25px;
   color: #02897A;
}
.button-btn {
   margin-right: 15px;
   border: none;
   padding: 15px 40px;
   background: #02897A;
   border-radius: 6px;
   font-weight: 700;
   font-size: 16px;
   color: #fff;
}
.hero-content a.border-bot {
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-decoration-line: underline;
   color: #02897A;
}
.hero-image img {
   width: 600px;
   height: 555px;
}


/* SPORTS */
#sports {
   padding: 150px 0;
}
#sports .heading-title { 
   text-align: center;
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   margin-bottom: 70px;
   color:var(--text-color);
}
#sports  .sports img {
   margin-bottom: 30px;
}
#sports  .sports h4 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 22px;
   line-height: 33px;
   color:var(--text-color);
   margin-bottom: 15px;
}
#sports  .sports p {
   width: 240px;
   margin-bottom: 70px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}
#sports a.botton {
   width: 190px;
   display: block;
   margin: 0 auto;
   border: none;
   padding: 15px 40px;
   background: #02897A;
   border-radius: 6px;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
}

/* management */
#managament h4 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color:var(--text-color);
}
#managament h2 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   color:var(--text-color);
}
#managament .makers-content h3 {
   margin-bottom: 12px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}
#managament .makers-content p {
   width: 450px;
   /*margin-bottom: 30px;*/
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}
#managament .makers-content .managa-title {
   padding-top: 40px;
}

/* support */
#support {
   padding: 150px 0 0 0;
}

#support .support-content h4 {
   margin-bottom: 8px;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color:var(--text-color);
}
#support .support-content h2 {
   margin-bottom: 23px;
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   color:var(--text-color);
}
#support .support-content p {
   width: 380px;
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}

#support .orange-img {
   display: flex;
   column-gap: 20px;
}
#support .orange-img img {
   width: 35px;
   height: 35px;
}
#support .orange-img p {
   width: 320px;
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}

/* ALBOM */
#albom {
   padding: 150px 0;
}
#albom .albom-info h4 {
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color:var(--text-color);
}
#albom .albom-info h2 {
   margin-bottom: 23px;
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   color:var(--text-color);
}
#albom .albom-info p {
   width: 400px;
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}

#albom .makers h3 {
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}

#albom .makers p {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}



/* wokers */
#wokers {
   padding: 80px 0;
   background-image: url('../imgs/bg.svg');
   background-repeat: no-repeat;
   background-position: top center;
   
}


.process-info h2 {
   margin-bottom: 16px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   text-align: center;
   color:var(--text-color);
}
.process-info p {
   margin-bottom: 15px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color:var(--text-color);
}


.wokers-img.wokers-top  {
   padding: 60px 0;
   margin-bottom: 30px;
}


.wokers-img span {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #2F281E;
   padding: 10px 50px;
   background: #FFFFFF;
   box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
   border-radius: 26.5px;
}



#wokers a {
   margin: 0 auto;
}

#wokers a.botton {
   width: 225px;
   padding: 18px 0;
   background: #02897A;
   color:var(--text-color);
   border-radius: 4px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
}


/* building */
#building {
   padding: 120px 0;
}
#building h2 {
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 34px;
   line-height: 51px;
   color:var(--text-color);
}
#building p {
   margin-bottom: 32px;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color:var(--text-color);
}

.strategies-content {
   background:var(--bg-color);
   border-radius: 10px;
}
.strategies-content h3, p {
   margin-left: 20px;
}

.strategies-content img {
   border-radius: 10px 10px 0 0;
   margin-bottom: 24px;
}
.strategies-content p span {
   font-size: 18px;
   font-weight: bold;
   color:var(--text-color);
}
#building .strategies-content p {
 font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: #22343D;
   color:var(--text-color);
}
.strategies-content h3 {
   width: 300px;
   margin-bottom: 60px;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 35px;
   color:var(--text-color);
}
.strategies-content h3.grenn {
   color:var(--text-color);
   color: #02897A;
}


#building .round > * {
   display: inline-block;
   width: 16px;
   height: 16px;
   background-color: #ccc;
   border-radius: 50%;
}
#building .round .round-color {
    background-color: #02897A;
}


/* RATES */
#rates {
   text-align: center;
   padding: 120px 0;
}
#rates h2 {
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 34px;
   line-height: 51px;
   color:var(--text-color);
}
#rates p {
   margin-bottom: 50px;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color:var(--text-color);
}

/* CLIENTS */
#clients {
   padding: 80px 0;
   text-align: center;
}
#clients h1 {
   font-weight: 700;
   font-size: 34px;
   line-height: 57px;
   letter-spacing: 0.2px;
   color:var(--text-color);
}
#clients p {
   margin-bottom: 50px;
   font-weight: 500;
   font-size: 16px;
   line-height: 28px;
   letter-spacing: 0.2px;
   color:var(--text-color);
}


/* ANALIZ */
#analiz {
   padding: 100px 0;
}

#analiz .square {
   width: 968px;
   height: 350px;
   margin: 0 auto;
   background: #02897A;
   border-radius: 32px;
}

#analiz .analiz-content {
    padding: 50px 0 0 51px;
}

#analiz .analiz-content h2 {
   width: px;
   margin-bottom: 50px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 151.4%;
   color: #FFFFFF;
}

#analiz .analiz-content button {
   padding: 10px 40px;
   border:  none;
   background: #FFFFFF;
   border-radius: 8px;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   color: #02897A;
}


/* START FOOTER */
#footer {
   padding: 70px 0;
}

#footer .logo-link img {
   margin-bottom: 35px;
}
#footer .logo-link img.right {
   margin-right: 20px;
}
#footer .footer-link {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   column-gap: 16px;
}

#footer .footer-link .footer-item i {
   width: 40px;
   height: 40px;
   font-size: 23px;
   text-align: center;
   line-height: 40px;
   background: #EDFFFC;
   color: #02897A;
   border-radius: 50%;
}

#footer .site-info h4 {
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   color:var(--text-color);
}

#footer ul li {
   margin-bottom: 12px;
   color:var(--text-color);
}


#footer .last-content h3 {
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   color:var(--text-color);
}

#footer .last-content textarea {
   resize: none;
   outline: none;
   margin-bottom: 15px;
}
#footer .last-content button {
   color:var(--text-color);
}

#footer .footer-title {
   padding-top: 30px;
   text-align: center;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color:var(--text-color);
}
/* THE END FOOTER */

   /* MEDIA */
@media only screen and (max-width: 1100px) {
   .container {
      width: 98%;
      margin: 0 auto;
   }

   /* header */
   #header {
      padding: 25px 35px 0 10px;
   }

   /* hero */
   #site-hero .hero-image img {
      width: 500px;
      height: 410px;
   }

   /* SPORTS */
   #sports {
      padding: 150px 0;
   }
   #sports .heading-title { 
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 70px;
      color:var(--text-color);
   }
   #sports  .sports img {
      margin-bottom: 30px;
   }
   #sports  .sports h4 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color:var(--text-color);
      margin-bottom: 15px;
   }
   #sports  .sports p {
      width: 200px;
   }

    /* managament */
   #managament .makers-image img {
     width: 500px;
     height: 390px;
   }


   /* customer-support */
   #support .support-img img {
      width: 500px;
      height: 490px;*/
   }
   #support .orange-img p {
      margin-left: 0;
   }

   /* COLLA-ALBOM */
   #albom .albom-img img {
      width: 460px;
      height: 480px;
   }
   #albom .albom-info p {
      margin-left: 0;
   }

   /* START CLIENTS */ 
   #rates div > img {
      width: 300px;
      height: 450px;
   }

   /* START CLIENTS  */
   #clients div > img {
      width: 300px;
      height: 230px;
   }
   
   /* START ANALIZ */
   #analiz .square {
   width: 900px;
   height: 350px;
   margin: 0 auto;
   background: #02897A;
   border-radius: 32px;
}

}


   /* MEDIA */
@media only screen and (max-width: 992px) {
   .container {
      width: 98%;
   }
   /* header */
   #header {
      padding: 25px 35px 0 10px;
   }
   .navbar-list.active {
      width: 30%;
      top: 55px;
      right: 0;
      height: 80vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 25px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 30%;
      height: 80vh;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
}


   /* hero */
   #site-hero {
      padding: 30px 0 0 0;
   }
   #site-hero .row {
      flex-direction: column-reverse;
   }
   #site-hero  .hero-info {
      text-align: center;
       margin-left: 100px;
   }
   #site-hero  .hero-info h1 {
      margin-left: 40px;
   }
   #site-hero  .hero-info .hero-content {
      margin-left: 70px;
   }
   .hero-image img {
      width: 510px;
      height: 480px;
      margin-bottom: 50px;
      margin-left: 30px;
   }


   /* SPORTS */
   #sports {
      margin: 0 auto;
   }

   #sports .row {
      text-align: center;
       margin: 0 auto;
   }

   #sports .sports p {
      margin-left: 60px;
   }

   /* managament */
   #managament .row {
      flex-direction: column-reverse;
   }
   #managament .makers-image {
     margin-bottom: 50px;
   }
   #managament h2 {
      margin-bottom: 25px;
   }
   #managament .makers-content p {
      margin-left: 0;
   }
   #managament .makers-image img {
     width: 550px;
     height: 450px;
   }



      /* customer-support */
   #support .support-img img {
      width: 500px;
      height: 450px;*/
   }
   #support .orange-img p {
      margin-left: 0;
   }
   #support .support-img {
      margin-bottom: 50px;
   }


   /* COLLA-ALBOM */
    #albom .row {
      flex-direction: column-reverse;
   }
   #albom .albom-img img {
      width: 550px;
      height: 450px;
      margin-bottom: 50px;
   }
   #albom .albom-info p {
      margin-left: 0;
   }


   /* worers */
   #wokers .right-bottom {
      margin-left: 290px;
      margin-bottom: 50px;
   }
   #wokers .right {
      margin-left: 220px;
   }

.wokers-img.wokers-top  {
   padding: 0px 0;
   margin-bottom: 60px;
}

   /* ANALIZ */
#analiz {
   padding: 90px 0;
   text-align :center;
}

#analiz .square {
   width: 600px;
   height: 900px;
   background: #02897A;
   border-radius: 32px;
}

#analiz .analiz-content {
    padding: 0px 0 0 0px;
    padding-top: 50px;
}

   #analiz .analiz-content h2 {
   width: 600px;
   margin-bottom: 50px;
   }

   #analiz .analiz-content button {
      padding: 15px 80px;
      border: none;
   }
   #analiz .analiz-img img {
      width: 610px;
      height: 640px;
   }
   /* FOOTER */
   #footer .logo-link img {
      margin-bottom: 40px;
   }
   #footer .footer-link {
      margin-left: 30px;
   }
}




   /* MEDIA-TWO */
@media only screen and (max-width: 769px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 25px 35px 0 10px;
   }
   .navbar-list.active {
      width: 35%;
      top: 55px;
      right: 0;
      height: 80vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 20px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 35%;
      height: 80vh;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
}


   /* hero */
   #site-hero .row {
      flex-direction: column-reverse;
   }
   #site-hero  .hero-info {
      text-align: center;
       margin: 0 auto;
       margin-left: 40px;
   }
   #site-hero  .hero-info h1 {
      margin-left: 30px;
   }
   #site-hero  .hero-info p {
      margin-left: 0px;
   }
   #site-hero  .hero-info .hero-content {
      margin-left: 50px;
   }
   .hero-image img {
      width: 450px;
      height: 400px;
      margin-bottom: 50px;
      margin-left: 0px;
   }


   /* SPORTS */
   #sports {
      margin: 0 auto;
   }

   #sports .row {
      text-align: center;
       margin: 0 auto;
   }

   #sports .sports p {
      margin-left: 10px;
   }

   /* managament */
   #managament .row {
      flex-direction: column-reverse;
   }

   #managament .makers-image {
     margin-bottom: 50px;
   }
   #managament .makers-image img {
      width: 500px;
      height: 450px;

   }
   

   /* customer-support */
   #support .support-img {
      margin-bottom: 50px;
   }
   #support .support-img img {
      width: 500px;
      height: 450px;
   }


   /* COLLA-ALBOM */
     #albom .row {
      flex-direction: column-reverse;
   }
   #albom .albom-img img {
      margin-bottom: 40px;
   }


   /* worers */
   #wokers .right-bottom {
      margin-left: 110px;
      margin-bottom: 30px;
   }
   #wokers .right {
      margin-left: 100px;
   }

   .wokers-img.wokers-top  {
      padding: 0px 0;
      margin-bottom: 50px;
}

   .br-none {
      display: none;
   }


   /* building */
   .strategies-content h3, p {
      margin-left: 0px;
}
   .strategies-content h3 {
      margin-left: 20px;
   }

   /* START CLIENTS  */
   #clients img {
      margin-bottom: 25px;
   }


   /* ANALIZ */
   #analiz {
      padding: 90px 0;
      text-align :center;
}

   #analiz .square {
   width: 500px;
   height: 820px;
   background: #02897A;
   border-radius: 32px;
}

#analiz .analiz-content {
    padding: 0px 0 0 0px;
    padding-top: 50px;
}

   #analiz .analiz-content h2 {
   width: 495px;
   margin-bottom: 40px;
   }

   #analiz .analiz-content button {
      padding: 15px 80px;
      border: none;
   }
   #analiz .analiz-img img {
      width: 500px;
      height: 400px;
   }


   /* START FOOTER */
   #footer {
      padding: 70px 0;
   }

  /* FOOTER */
   #footer .logo-link img {
      margin-bottom: 50px;
   }
   #footer .footer-link {
      margin-left: 30px;
   }
   #footer .last-content h3 {
      width: 300px;
      margin-left: 20px;
      margin-bottom: 0px;
   }
   #footer .last-content textarea {
      margin-left: 39px;
   }
   /* THE END FOOTER */
}





   /* MEDIA-THREE */
@media only screen and (max-width: 576px) {
   .container {
      width: 98%;
      margin: 0 auto;
   }
   #header {
      padding: 25px 28px 0 10px;
   }
   .navbar-list.active {
      width: 35%;
      top: 55px;
      right: 0;
      height: 75vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 35%;
      height: 75vh;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
}


   /* hero */
   #site-hero {
      position: relative;
      margin: 0 auto;
   }
  
   #site-hero  .hero-info {
      text-align: center;
       margin: 0 auto;
       margin-left: 50px;
   }
   #site-hero  .hero-info h1 {
      margin-left: 40px;
   }
   #site-hero  .hero-info .hero-content {
      margin-left: 40px;
   }
   .hero-image img {
      width: 440px;
      height: 380px;
      margin-bottom: 50px;
      margin-left: 0px;
   }


   /* SPORTS */
   #sports {
      margin: 0 auto;
   }

   #sports .row {
      text-align: center;
       margin: 0 auto;
   }
   #sports h2 {
      width: 450px;
      font-size: 20px;
      margin-left: 40px;
   }
   #sports .sports p {
      margin-left: 165px;
   }
   .br-sm-none {
      display: none;
   }
   /* managament */
   #managament .row {
      flex-direction: column-reverse;
   }

   #managament .makers-image {
     margin-bottom: 50px;
   }
   #managament .makers-image img {
      width: 480px;
      height: 380px;
   }
   

   /* customer-support */
   #support .support-img {
      margin-bottom: 50px;
   }
   #support .support-img img {
      width: 480px;
      height: 400px;
   }


   /* COLLA-ALBOM */
   #albom .row {
      flex-direction: column-reverse;
   }
   #albom .albom-img img {
      width: 480px;
      height: 370px;
      margin-bottom: 40px;
   }


   /* worers */
   #wokers .right-bottom {
      margin-left: 110px;
      margin-bottom: 60px;
   }
   #wokers .right {
      margin-left: 80px;
   }

   .wokers-img.wokers-top  {
      padding: 0px 0;
      margin-bottom: 50px;
   }

   .br-none {
      display: none;
   }


   /* building */
   #building {
      padding: 0 0 100px 0;
   }
   #building p {
      width: 380px;
      margin-left: 78px;
   }

   .strategies-content h3, p {
      margin-left: 0px;
   }
   .strategies-content h3 {
      margin-left: 125px;
   }

   /* START CLIENTS  */
   #clients img {
      margin-bottom: 25px;
   }

   /* START RATES */ 
   #rates {
      padding: 0;
   }
   #rates div > img {
      margin-bottom: 32px;
   }


   /* ANALIZ */
   #analiz {
      padding: 60px 0;
      text-align :center;
}

   #analiz .square {
   width: 450px;
   height: 750px;
   background: #02897A;
   border-radius: 32px;
}

#analiz .analiz-content {
    padding: 0px 0 0 0px;
    padding-top: 50px;
}

   #analiz .analiz-content h2 {
   width: 440px;
   margin-bottom: 40px;
   }

   #analiz .analiz-content button {
      padding: 15px 80px;
      border: none;
   }
   #analiz .analiz-img img {
      width: 450px;
      height: 400px;
   }


   /* START FOOTER */
   #footer {
      padding: 70px 0;
   }

   #footer .logo-link img {
      margin-bottom: 35px;
   }
   #footer .logo-link img.right {
      margin-right: 20px;
   }
   #footer .footer-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 16px;
   }

   #footer .footer-link .footer-item i {
      width: 40px;
      height: 40px;
      font-size: 23px;
      text-align: center;
      line-height: 40px;
      background: #EDFFFC;
      color: #02897A;
      border-radius: 50%;
   }

   #footer .footer-link {
      margin-left: 165px;
   }
   #footer .site-info h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color:var(--text-color);
   }

   #footer ul li {
      margin-bottom: 12px;
      color:var(--text-color);
   }


   #footer .last-content h3 {
      width: 300px;
      margin-left: 120px;
      margin-bottom: 25px;
   }

   #footer .display-xs-none {
      display: none;
   }
   #footer .last-content button {
      color:var(--text-color);
   }

   #footer .footer-title {
      padding-top: 30px;
      text-align: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color:var(--text-color);
   }
   /* THE END FOOTER */
}


   /* MEDIA-510px */
@media only screen and (max-width: 510px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 28px 30px 0 12px;
   }
   .navbar-list.active {
      width: 45%;
      top: 55px;
      right: 0;
      height: 75vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 45%;
      height: 75vh;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
}


   /* hero */
   #site-hero  .hero-info {
      text-align: center;
       margin: 0 auto;
       margin-left: 0px;
   }
   #site-hero  .hero-info h1 {
      margin-left: 60px;
   }
   #site-hero  .hero-info p {
      width: 360px;
      margin-left: 60px;
   }
   #site-hero  .hero-info .hero-content {
      margin-left: 80px;
   }
   .hero-image img {
      width: 250px;
      height: 300px;
      margin-bottom: 40px;
      margin-left: 0px;
   }


   /* SPORTS */
   #sports {
      margin: 0 auto;
   }

   #sports .row {
      text-align: center;
       margin: 0 auto;
   }
   #sports h2 {
      width: 450px;
      font-size: 20px;
      margin-left: 10px;
   }
   #sports .sports p {
      margin-left: 125px;
   }
   .br-sm-none {
      display: none;
   }
   /* managament */
   #managament .makers-image {
     margin-bottom: 50px;
   }
   #managament .makers-image img {
      width: 450px;
      height: 350px;
   }
   

   /* customer-support */
   #support .support-img {
      margin-bottom: 60px;
   }
   #support .support-img img {
      width: 450px;
      height: 350px;
   }


   /* COLLA-ALBOM */
   #albom .albom-img img {
      width: 450px;
      height: 350px;
      margin-bottom: 40px;
   }


   /* worers */
   #wokers .right-bottom {
      margin-left: 50px;
      margin-bottom: 60px;
   }
   #wokers .right {
      margin-left: 30px;
   }

   .wokers-img.wokers-top  {
      padding: 0px 0;
      margin-bottom: 60px;
   }

   .br-none {
      display: none;
   }


   /* building */
   #building p {
      width: 380px;
      margin-left: 50px;
   }

   .strategies-content h3, p {
      margin-left: 0px;
   }
   .strategies-content h3 {
      margin-left: 90px;
   }

   /* ANALIZ */
   #analiz {
      padding: 60px 0;
      text-align :center;
}

   #analiz .square {
   width: 430px;
   height: 720px;
   background: #02897A;
   border-radius: 32px;
}

#analiz .analiz-content {
    padding: 0px 0 0 0px;
    padding-top: 20px;
}

   #analiz .analiz-content h2 {
      width: 400px;
      margin-bottom: 20px;
   }

   #analiz .analiz-content button {
      padding: 15px 80px;
      border: none;
   }
   #analiz .analiz-img img {
      width: 450px;
      height: 400px;
   }


   /* START FOOTER */
   #footer {
      padding: 70px 0;
   }

   #footer .logo-link img {
      margin-bottom: 35px;
   }
   #footer .logo-link img.right {
      margin-right: 20px;
   }
   #footer .footer-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 16px;
   }

   #footer .footer-link .footer-item i {
      width: 40px;
      height: 40px;
      font-size: 23px;
      text-align: center;
      line-height: 40px;
      background: #EDFFFC;
      color: #02897A;
      border-radius: 50%;
   }

   #footer .footer-link {
      margin-left: 130px;
   }
   #footer .site-info h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color:var(--text-color);
   }

   #footer ul li {
      margin-bottom: 12px;
      color:var(--text-color);
   }


   #footer .last-content h3 {
      width: 300px;
      margin-left: 90px;
      margin-bottom: 25px;
   }

   #footer .display-xs-none {
      display: none;
   }
   #footer .last-content button {
      color:var(--text-color);
   }

   #footer .footer-title {
      padding-top: 30px;
      text-align: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color:var(--text-color);
   }
   /* THE END FOOTER */
}


   /* MEDIA-460px */
@media only screen and (max-width: 460px) {
   .container {
      width: 98%;
   }
   #header {
      padding: 20px 30px 0 0;
   }

   .navbar-list.active {
      width: 45%;
      top: 55px;
      right: 0;
      height: 75vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 45%;
      height: 75vh;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
}


   /* hero */
   #site-hero  .hero-info {
      text-align: center;
       margin: 0 auto;
       margin-left: 0px;
   }
   #site-hero  .hero-info h1 {
      margin-left: 20px;
   }
   #site-hero  .hero-info p {
      width: 340px;
      margin-left: 40px;
   }
   #site-hero  .hero-info .hero-content {
      margin-left: 35px;
   }
   #site-hero .hero-image img {
      width: 430px;
      height: 350px;
      margin-bottom: 35px;
      margin-left: 0px;
   }


   /* SPORTS */
   #sports {
      margin: 0 auto;
   }

   #sports .row {
      text-align: center;
       margin: 0 auto;
   }
   #sports h2 {
      width: 450px;
      font-size: 20px;
      margin-left: 0px;
   }
   #sports .sports p {
      margin-left: 100px;
   }
   .br-sm-none {
      display: none;
   }
   /* managament */
   #managament .makers-image {
     margin-bottom: 50px;
   }
   #managament .makers-image img {
      width: 400px;
      height: 300px;
   }
   

   /* customer-support */
   #support .support-img {
      margin-bottom: 60px;
   }
   #support .support-img img {
      width: 400px;
      height: 350px;
   }


   /* COLLA-ALBOM */
   #albom .albom-img img {
      width: 400px;
      height: 350px;
      margin-bottom: 40px;
   }


   /* worers */
   #wokers .right-bottom {
      margin-left: 0px;
      margin-bottom: 60px;
   }
   #wokers .right {
      margin-left: 0px;
   }

   .wokers-img.wokers-top  {
      padding: 0px 0;
      margin-bottom: 30px;
   }
   #wokers .process-info p {
      margin-bottom: 50px;
   }
   #wokers .bottom {
      margin-bottom: 30px;
   }
   #wokers .btn-bottom {
      margin-bottom: 50px;
   }
   .br-none {
      display: none;
   }


   /* building */
   #building {
      padding: 100px 0;
   }
   #building p {
      width: 320px;
      margin-left: 50px;
   }

   .strategies-content h3, p {
      margin-left: 0px;
   }
   .strategies-content h3 {
      margin-left: 60px;
   }

   /* ANALIZ */
   #analiz {
      padding: 30px 0;
      text-align :center;
}

   #analiz .square {
   width: 400px;
   height: 700px;
   background: #02897A;
   border-radius: 32px;
}

#analiz .analiz-content {
    padding: 0px 0 0 0px;
    padding-top: 25px;
}

   #analiz .analiz-content h2 {
      width: 400px;
      margin-bottom: 20px;
   }

   #analiz .analiz-content button {
      padding: 15px 80px;
      border: none;
   }
   #analiz .analiz-img img {
      width: 400px;
      height: 450px;
   }


   /* START FOOTER */
   #footer {
      padding: 70px 0 0 0;
   }

   #footer .logo-link img {
      margin-bottom: 35px;
   }
   #footer .logo-link img.right {
      margin-right: 20px;
   }
   #footer .footer-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 16px;
   }

   #footer .footer-link .footer-item i {
      width: 40px;
      height: 40px;
      font-size: 23px;
      text-align: center;
      line-height: 40px;
      background: #EDFFFC;
      color: #02897A;
      border-radius: 50%;
   }

   #footer .footer-link {
      margin-left: 110px;
   }
   #footer .site-info h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color:var(--text-color);
   }

   #footer ul li {
      margin-bottom: 12px;
      color:var(--text-color);
   }


   #footer .last-content h3 {
      width: 300px;
      margin-left: 70px;
      margin-bottom: 25px;
   }

   #footer .display-xs-none {
      display: none;
   }
   #footer .last-content button {
      color:var(--text-color);
   }

   #footer .footer-title {
      padding-top: 30px;
      text-align: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color:var(--text-color);
   }
   /* THE END FOOTER */
}









   /* MEDIA-410px */
@media only screen and (max-width: 410px) {
   .container {
      width: 98%;
      margin: 0 auto;
   }
   
   #header {
      padding: 20px 30px 40px 0;
   }

   .navbar-list.active {
      width: 45%;
      top: 55px;
      right: 0;
      height: 75vh;
      opacity: 1;
      z-index: 150;
   }
   .navbar .navbar-list .navbar-item {
      padding: 18px 0 0 0;
      text-align: center;
      margin: 12px 35px 0 0;
      z-index: 150;
   }
   nav ul.navbar-list {
      display: block;
      text-align: center;
      transition: 0.8s;
      z-index: 150;
      opacity: 0;
   }
   .navbar-list {
      position: absolute;
      top: 55px;
      right: 0;
      width: 45%;
      height: 75vh;
      background: #ccc;
      transition: .5s ease;
      overflow: hidden;
      z-index: 150;
   }
   .icon-menu i {
      display: block;
      outline: none;
      font-size: 35px;
      color:var(--text-color);
}


   /* hero */
   #site-hero {
      padding: 0;
      position: relative;
      margin: 0 auto;
   }
  
   #site-hero  .hero-info {
      text-align: center;
       margin: 0 auto;
       margin-left: 0px;
   }
   #site-hero  .hero-info h1 {
      margin-left: 0px;
      font-size: 30px;
   }
   #site-hero  .hero-info p {
      margin-left: 20px;
   }
   #site-hero  .hero-info .hero-content {
      margin-left: 20px;
   }
    #site-hero .hero-image img {
      width: 340px;
      height: 340px;
      margin-bottom: 35px;
      margin-left: 20px;
   }


   /* SPORTS */
   #sports {
      margin: 0 auto;
   }

   #sports .row {
      text-align: center;
       margin: 0 auto;
   }
   #sports h2 {
      width: 380px;
      font-size: 20px;
      margin-left: 0px;
   }
   #sports .sports p {
      margin-left: 70px;
   }
   .br-sm-none {
      display: none;
   }
   /* managament */
   #managament .makers-image {
     margin-bottom: 50px;
   }
   #managament .makers-content p {
      width: 360px;
   }
   #managament .makers-image img {
      width: 380px;
      height: 300px;
   }
   

   /* customer-support */
   #support .support-img {
      margin-bottom: 60px;
   }
   #support .support-img img {
      width: 400px;
      height: 350px;
   }


   /* COLLA-ALBOM */
   #albom .albom-img img {
      width: 400px;
      height: 350px;
      margin-bottom: 40px;
   }


   /* worers */
   #wokers .right-bottom {
      margin-left: 50px;
      margin-bottom: 60px;
   }
   #wokers .right {
      margin-left: 0px;
      margin-bottom: 30px;
   }

   .wokers-img.wokers-top  {
      padding: 0px 0;
      margin-bottom: 30px;
   }
   #wokers .process-info p {
      margin-bottom: 50px;
   }
   #wokers .bottom {
      margin-bottom: 30px;
   }
   #wokers .btn-bottom {
      margin-bottom: 60px;
   }
   .br-none {
      display: none;
   }


   /* building */
   #building {
      padding: 0;
   }
   #building p {
      width: 320px;
      margin-left: 20px;
   }

   .strategies-content h3, p {
      margin-left: 0px;
   }
   .strategies-content h3 {
      margin-left: 40px;
   }

   /* ANALIZ */
   #analiz {
      padding: 30px 0;
      text-align :center;
}

   #analiz .square {
   width: 360px;
   height: 720px;
   background: #02897A;
   border-radius: 32px;
}

#analiz .analiz-content {
    padding: 0px 0 0 0px;
    padding-top: 20px;
}

   #analiz .analiz-content h2 {
      width: 350px;
      margin-bottom: 20px;
   }

   #analiz .analiz-content button {
      padding: 15px 80px;
      border: none;
   }
   #analiz .analiz-img img {
      width: 350px;
      height: 430px;
   }


   /* START FOOTER */
   #footer {
      padding: 70px 0 0 0;
   }

   #footer .logo-link img {
      margin-bottom: 35px;
   }
   #footer .logo-link img.right {
      margin-right: 20px;
   }
   #footer .footer-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 16px;
   }

   #footer .footer-link .footer-item i {
      width: 40px;
      height: 40px;
      font-size: 23px;
      text-align: center;
      line-height: 40px;
      background: #EDFFFC;
      color: #02897A;
      border-radius: 50%;
   }

   #footer .footer-link {
      margin-left: 80px;
   }
   #footer .site-info h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color:var(--text-color);
   }

   #footer ul li {
      margin-bottom: 12px;
      color:var(--text-color);
   }


   #footer .last-content h3 {
      width: 300px;
      margin-left: 40px;
      margin-bottom: 25px;
   }

   #footer .display-xs-none {
      display: none;
   }
   #footer .last-content button {
      color:var(--text-color);
   }

   #footer .footer-title {
      padding-top: 30px;
      text-align: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color:var(--text-color);
   }
   /* THE END FOOTER */
}